<div class="classes">
    <img src="images/class-{{{this.classID}}}.jpg">
    <div class="class-details">
        <h2>{{{this.className}}} <span>WITH</span> {{{this.instructor}}}</h2>
        <p>{{{this.classLength}}}</p>
        <a href="/classes/{{{this.classID}}}">Book Now</a>
    </div>
    {{!-- <button type="submit" name="borrowBtn" value="{{{this.id}}}">Borrow</button> --}}
</div>